{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="max-w-3xl mx-auto">
        <h1 class="text-xl mb-4">Hole {{ number }}</h1>
        <form method="post" novalidate>
            {{ form|crispy }}
            <div class="flex justify-between">
                <div class="w-1/3">
                    <c-a-button severity="secondary" href="{{ previous }}">
                    Back
                    </c-a-button>
                </div>
                <div class="w-1/3">
                    <c-button severity="secondary" type="submit"> Add shots </c-button>
                </div>
            </div>
        </form>
        {% if complete %}
            <div class="mt-8">
                <c-a-button severity="primary" href="{% url 'round_entry:round_detail' id=id %}">
                Finish
                </c-a-button>
            </div>
        {% endif %}
    </div>
{% endblock content %}
