{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <h1 class="text-lg/6 font-semibold text-gray-900">Round Entry</h1>
{% endblock header %}
{% block content %}
    <div class="max-w-3xl mx-auto">
        <h1 class="text-xl mb-4">Add Round</h1>
        <form method="POST" novalidate>
            {{ form|crispy }}
            <button type="submit"
                    class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 mt-4">
                Save
            </button>
        </form>
    </div>
{% endblock %}
